body[theme='dark'] {
    filter: invert(1) hue-rotate(180deg);
    transition: color 300ms, background-color 300ms;
}

body[theme='dark'] img,
body[theme='dark'] .navbar,
body[theme='dark'] .pushable > .pusher.dimmed:after,
body[theme='dark'] .ui.slide.sidebar,
body[theme='dark'] .ui.page.dimmer,
body[theme='dark'] .ui.toggle.checkbox > input {
    filter: invert(1) hue-rotate(180deg);
}

body[theme='dark'] .ui.page.dimmer > .modalContainer {
    box-shadow: none;
    filter: invert(1) hue-rotate(180deg);
}

body[theme='dark'] .ui.page.dimmer > .modalContainer > div {
    background-color: #e0e0e0 !important;
}

body[theme='dark'] .ui.button.floating.dropdown[role='listbox'] {
    background-color: #cfcfcf !important;
}

body[theme='dark'] .ui.toggle.checkbox label:after {
    background: #3b3b3b linear-gradient(transparent, rgba(0, 0, 0, .05));
}
