html, body {
    height: 100%;
}

/*
* Fonts
*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('/fonts/ubuntu/Ubuntu-Bold.ttf');
}

/*
* Account pages styles
*/

.hidden-resource {
    display: none;
    opacity: 0;
}

/*
* Animation keyframes
*/

@keyframes spin-loading {
    0% {
        transform: rotate(360deg);
    }
}
