html, body {
    height: 100%;
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('/fonts/ubuntu/Ubuntu-Bold.ttf');
}


.hidden-resource {
    display: none;
    opacity: 0;
}
