<div class="main-container">
    <h2>
        Dashboard
    </h2>

    <div class="calendar" id="calendar">
        <div class="calendar-toolbar">
            <button data-toggle="calendar" data-action="today" class="btn btn-default">
                Today
            </button>
            <button data-toggle="calendar" data-action="prev" class="btn btn-default">
                &#60;
            </button>
            <div class="calendar-current-date"
                 data-day-format="MM/DD/YYYY"
                 data-week-format="MM/DD/YYYY"
                 data-month-format="MMMM, YYYY">
            </div>
            <button data-toggle="calendar" data-action="next" class="btn btn-default">
                &#62;
            </button>
        </div>
    </div>
</div>
