<div class="main-container">
    <h2>
        Notifications
    </h2>

    <div class="messages-list-container">
        <div class="messages-list" id="messages-list">
            <div class="messages-filter-bar">
                <div class="search">
                    <input class="form-control" type="text" placeholder="Find message" aria-label="Search">
                    <button type="button" class="btn btn-light">Search</button>
                </div>
                <div>
                    <ul class="pagination"></ul>
                </div>
            </div>
        </div>
        <div class="message-container">
            <div class="message-wrapper">
                <div class="title"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>
