<div class="main-container">
    <h2>
        Settings
    </h2>

    <div class="settings-container">
        <div class="settings-units-list">
            <div class="setting-unit active" data-action="settings-general">
                <span>General</span>
            </div>
            <div class="setting-unit" data-action="settings-notifications">
                <span>Notifications</span>
            </div>
            <div class="setting-unit" data-action="settings-for-developers">
                <span>For Developers</span>
            </div>
        </div>
        <div class="settings-editor"></div>
    </div>
</div>
