<div class="setting-section">
    <div class="title">Management</div>
    <div class="setting-item">
        <input id="notification-enabled" type="checkbox">
        <label for="notification-enabled">Turn on notifications?</label>
    </div>
    <div class="setting-note">
        You'll receive a lot of messages from us notifying you about your transactions tendencies and where you spend money more. And many other things
    </div>
    <div class="setting-item">
        <input id="notification-by-email-enabled" type="checkbox">
        <label for="notification-by-email-enabled">Duplicate notifications to your email?</label>
    </div>
    <div class="setting-note">
        Send notifications about your account to your email as well
    </div>
</div>
<div class="setting-section">
    <div class="title">Sound</div>
    <div class="setting-item">
        <input id="notification-sound-enabled" type="checkbox">
        <label for="notification-sound-enabled">Play sound when a new notification arrives?</label>
    </div>
</div>
