<div class="main-container">
    <h2>
        Transactions
    </h2>

    <div class="transactions-container">
        <div class="transactions-analyze-wrapper">
            <div class="transactions-compare-wrapper">
                <canvas></canvas>
            </div>
            <div class="charts-section">
                <div class="income-chart-wrapper">
                    <canvas></canvas>
                </div>
                <div class="expenses-chart-wrapper">
                    <canvas></canvas>
                </div>
            </div>
        </div>
        <div class="transactions-list-wrapper">
            <div class="header"></div>
            <div class="section"></div>
        </div>
    </div>
</div>
