.currentMonthDay {
    background-color: #E5F0FF;
}

.currentMonthDay:hover {
    background-color: #cbd6ea;
}

.otherMonthDay {
    background-color: #D7E1E9;
}

.otherMonthDay:hover {
    background-color: #8cc1f3;
}

.today {
    border: 2px solid #7EB3FF;
    background-color: #B7D4FF;
}

.commonTransactionsRow {
    padding-bottom: 0 !important;
}

.recurringTransactionsRow {
    padding-bottom: 0 !important;
}

.incomeSummary {
    color: #00dc7d;
}

.recurringIncomeSummary {
    color: #7EB3FF;
}

.expenseSummary {
    color: #FF7272;
}

.recurringExpenseSummary {
    color: #FFA96B;
}
